html {
  letter-spacing: -0.3px;
  -webkit-font-smoothing: antialiased;
}

.content-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.thumbnail-container {
  display: flex;
  margin-bottom: 20px;

  .main-image {
    flex: 1;
    margin-right: 12px;
    overflow: hidden;
    width: 640px;
    height: 640px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .thumbnail-button {
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
  }
}

.feed-profile {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 12px 0;
}

.product-container {
  gap: 16px;
}

.feed-title {
  font-size: 24px; /* 예시 폰트 크기 */
  white-space: nowrap; /* 한 줄로 표시되도록 */
  overflow: hidden; /* 넘치는 부분은 숨기기 */
  text-overflow: ellipsis; /* 생략 부호 추가 */
  padding: 40px 0;
}

.feed-description {
  font-size: 15px;
  white-space: pre-line;
  line-height: 32px;
  word-break: keep-all;
  word-wrap: break-word;
  padding: 0;
}

.dot::before {
  content: '·';
  margin: 4px;
}

.d-data {
  margin: 0px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  margin-right: 10px;
  color: rgb(130, 140, 148);
}

.tags {
  display: flex;
  padding: 20px 0;
}

.comments-container {
  width: 100%;

  .comment-card {
    margin-bottom: 10px;
    width: 100%;

    .reply-list {
      li {
        margin-bottom: 5px;
      }
    }
  }
}

.icon-container {
  display: flex;
  align-items: center;
  padding: 40px 0;
}
