html {
  letter-spacing: -0.3px;
  -webkit-font-smoothing: antialiased;
}

.thumbnail-container {
  display: flex;
  margin-bottom: 20px;
  width: 100%;

  .main-image {
    margin-right: 12px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    max-height: 720px;
    pointer-events: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media (max-width: 619px) {
  .thumbnail-container {
    display: flex;
    flex-direction: column;
  }
  .thumbnail-wrapper {
    display: flex;
    // flex-wrap: nowrap;
    flex-grow: 1;
    margin-top: 20px; /* 메인 이미지와 간격을 조절 */
    margin-right: 16px;
    gap: 16px;
    justify-content: center;
  }
}

.feed-profile {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 12px 0;
  width: 100%;
}

.feed-title {
  font-size: 24px; /* 예시 폰트 크기 */
  white-space: nowrap; /* 한 줄로 표시되도록 */
  overflow: hidden; /* 넘치는 부분은 숨기기 */
  text-overflow: ellipsis; /* 생략 부호 추가 */
  padding: 40px 0;
}

@media (max-width: 768px) {
  .feed-title {
    padding: 20px 0; // 작은 화면에서의 여백
  }
}

.feed-description {
  font-size: 15px;
  white-space: pre-line;
  line-height: 32px;
  word-break: keep-all;
  word-wrap: break-word;
  padding: 0;
}

.dot::before {
  content: '·';
  margin: 4px;
}

.d-data {
  margin: 0px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  margin-right: 10px;
  color: rgb(130, 140, 148);
}

.tags {
  display: flex;
  padding: 20px 0;
}

.comments-container {
  width: 100%;

  .comment-card {
    margin-bottom: 10px;
    width: 100%;

    .reply-list {
      li {
        margin-bottom: 5px;
      }
    }
  }
}

.icon-container {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

@media (max-width: 768px) {
  .icon-container {
    padding: 10px 0; // 작은 화면에서의 여백
  }
}

.product-container > .swiper > .swiper-button-prev:after,
.product-container > .swiper > .swiper-button-next:after {
  display: none;
  font-size: 24px;
  font-weight: 900;
}

.product-container {
  :hover {
    .swiper-button-prev:after,
    .swiper-button-next:after {
      display: block;
    }
  }
}

.product-container > .swiper > .swiper-button-prev svg,
.product-container > .swiper > .swiper-button-next svg {
  width: 50%;
  height: 100%;
  object-fit: contain;
  transform-origin: center;
}

.product-container > .swiper > .swiper-button-prev,
.product-container > .swiper > .swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 10);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 1));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.comment-input-container {
  width: 100%;
  display: flex;
  gap: 8px;
  height: 40px;
  margin: 32px 0;
}

.comment-input-container label {
  display: flex;
  align-items: center;
  top: -7.5px;
  color: rgb(130, 140, 148);
}

.comment-input input {
  height: 24px;
  padding: 8px;
}

.comment-box {
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word;
  white-space: pre-line;
}

.comment-info-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 16px;
  font-weight: 500;
  color: rgb(130, 140, 148);
}
