.color-filter button,
.concept-filter button {
  margin-right: 8px;
}
@media (max-width: 619px) {
  .filter-container {
    flex-wrap: wrap; // 아이템이 넘치면 줄 바꿈
    justify-content: center; // 중앙 정렬
    margin: 0 auto;
  }

  .color-filter button,
  .concept-filter button {
    margin: 8px 4px; // 버튼 간격 조정
  }
}
.filter-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap; // 아이템이 넘치면 줄 바꿈

  @media (max-width: 768px) {
    & > * {
      width: 100%; // 추가: 아이템 너비를 100%로 변경하여 한 줄에 하나씩 표시
      margin-top: 16px;
    }
  }

  @media (max-width: 619px) {
    padding-left: 0; // 반응형에서는 패딩값을 0으로 설정
  }
}

.concept-filter {
  padding-left: 20px;

  @media (max-width: 1159px) {
    padding-left: 0; // 반응형에서는 패딩값을 0으로 설정
  }

  @media (max-width: 619px) {
    padding: 0;
  }
}

.filter-title {
  color: #999;
  font-size: 14px;
}

.button-wrap {
  max-width: 1200px;
  padding: 0 10px 20px 10px;
}

.feed {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
  min-height: 280px;
  padding-bottom: 20px;
}
/* 마지막 아이템의 패딩 제거 */
.feed > *:last-child {
  margin: 0 10px;
  padding-bottom: 0;
}

.feed-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 1px;
  overflow: hidden;
  width: 280px;
  height: 100%;
  justify-content: center;
  transition: border-color 0.5s ease;
  cursor: pointer;
  // outline: 1px solid #999;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
}

.feed-container:hover {
  outline: 2px solid #5ff531;
}

.feed-img {
  transition: transform 0.3s ease-in-out; /* 이미지 확대 애니메이션 적용 */
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.feed-container:hover .feed-img {
  transform: scale(1.1); /* 호버시 이미지 확대 */
  pointer-events: auto;
}

.feed-img:not(:hover) {
  transform: scale(1); /* 호버 해제시 이미지 축소 */
}

.feed-box {
  height: 280px;
  overflow: hidden;
}

.info-box {
  position: absolute; /* 절대적 위치 지정 */
  bottom: 0; /* 아래로부터의 위치 */
  left: 0; /* 왼쪽으로부터의 위치 */
  right: 0; /* 오른쪽으로부터의 위치 */
  padding: 5px 8px;
  background-color: #fff; /* 배경색 및 투명도 설정 */
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.profile-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}
