.color-filter button,
.style-filter button {
  margin: 4px;
  flex: 1;
}

.filter-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: baseline;
  background-color: red;
}

.style-filter {
  padding-left: 30px;
}

.filter-title {
  margin: 0;
  padding: 0;
  color: #999;
  font-size: 14px;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  display: flex;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
}

.feed {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
  padding-bottom: 20px;
}
/* 마지막 아이템의 패딩 제거 */
.feed > *:last-child {
  margin: 0 10px;
  padding-bottom: 0;
}

.button-wrap {
  max-width: 1200px;
  padding: 0;
}

.line {
  width: 100%;
  max-width: 1200px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 10px auto;
}

.feed-container {
  position: relative;

  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 1px;
  overflow: hidden;
  width: 280px;
  height: 100%;
  justify-content: center;
  transition: border-color 0.5s ease;
  cursor: pointer;
  // outline: 1px solid #999;
}

.feed-container:hover {
  outline: 3px solid #5ff531;
}

.feed-img {
  transition: transform 0.3s ease-in-out; /* 이미지 확대 애니메이션 적용 */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feed-container:hover .feed-img {
  transform: scale(1.1); /* 호버시 이미지 확대 */
}

.feed-img:not(:hover) {
  transform: scale(1); /* 호버 해제시 이미지 축소 */
}

.feed-box {
  height: 280px;
  overflow: hidden;
}

.info-box {
  position: absolute; /* 절대적 위치 지정 */
  bottom: 0; /* 아래로부터의 위치 */
  left: 0; /* 왼쪽으로부터의 위치 */
  right: 0; /* 오른쪽으로부터의 위치 */
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 1); /* 배경색 및 투명도 설정 */
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.profile-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}
