$color-point: #5ff531;
$color-point-secondary: #b7ff8b;
$color-black: #191919;
$color-gray: #4c4c4c;
$color-lightgray: #e5e5e5;

.point {
  color: $color-point;
}

.gray {
  color: $color-gray;
}

.lightgray {
  color: $color-lightgray;
}

.red {
  color: red;
}
