$dark-mode: black;
$light-mode: white;

* {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  // font-weight: 100;
}

.categoryPage {
  background-color: $light-mode;
  width: 100vw;
  height: 100vh;
}
.category-content {
  display: flex;
  flex-direction: row;
  // width: 1200px;
  // margin: auto;
}
