.category-content {
  display: flex;
  flex-direction: row;
  width: 100%; /* 부모 요소인 category-content의 너비를 100%로 설정 */
  max-width: 1200px; /* 최대 너비 설정 */
  margin: auto;
}

.sideNavigation {
  width: 25%;
}

.containerProducts {
  width: 75%;
}

@media (max-width: 768px) {
  .sideNavigation {
    display: none;
  }
  .containerProducts {
    width: 100%;
  }
}
