$tablet: 768px;
$mobile: 360px;

$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

* {
  scroll-behavior: smooth;
}
.category-content {
  padding-top: 170px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.sideNavigation {
  width: 25%;
}

.containerProducts {
  width: 75%;
}

@media (max-width: $tablet) {
  .category-content {
    display: flex;
    flex-direction: column;
  }
  .sideNavigation {
    // display: none;
    height: 30%;
    width: 100%;
  }
  .containerProducts {
    height: 70%;
    width: 100%;
  }
}
