
body {
  width: auto;
}

.likes-page {
  margin: 0 auto;
  @media (min-width: 1201px) {
    width: 99%;
  }
  @media (max-width: 1200px) {
    width: 97%;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}


.likes-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 100px;
  @media (min-width: 1201px) {
    width: 1200px;
  }
  @media (max-width: 1200px) {
    width: 98%;
  }
  @media (max-width: 615px) {
    width: 98%;
    padding-top: 0px;
  }
  @media (max-width: 480px) {
    width: 98%;
    padding-top: 0px;
  }
}


.carouselBest {
  position: relative;
  span.best-title {
    position: absolute;
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    @media (max-width: '615px') {
      font-size: 35px;
    }
    @media (max-width: '500px') {
      font-size: 30px;
    }
    @media (max-width: '615px') {
      font-size: 25px;
    }
  }

  span.best-desc {
    text-align: center;
    position: absolute;
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    @media (max-width: '615px') {
      font-size: 10px;
    }
    @media (max-width: '500px') {
      font-size: 8px;
    }
    @media (max-width: '615px') {
      font-size: 7px;
    }
  }
}

