$color-point: #5ff531;
$color-gray: #4c4c4c;

$tablet: 768px;
$mobile: 360px;

$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;

.prod-container {
  width: 100%;

  .prod-selec-value {
    width: 100%;
    margin: auto;

    .select-categories {
      height: 50%;
      margin: 0;
      width: 99.8%;
      display: flex;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-left: 12px;
      padding-top: 12px;
      padding-bottom: 12px;
      border: 1px solid $color-gray;
      border-radius: 3px;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      @media (max-width: $tablet) {
        border: none;
        padding-left: 2px;
        padding-top: 0;
        padding-bottom: 0;
      }

      .category-1 {
        font-size: $font-size-s;
      }
      .category-2 {
        display: flex;
        margin-left: 30px;
        font-size: $font-size-s;
        cursor: pointer;
        .el-cate2 {
          &:hover {
            color: $color-point;
          }
        }
        @media (max-width: $tablet) {
          margin-left: 0;
        }
      }
    }

    .select-filtering-values {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .sort-box {
        display: flex;
        flex-direction: row;
      }
    }

    .select-filtered-data {
      height: 50%;
      margin-left: 20px;
      font-size: $font-size-l;
    }
  }

  .prod-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 100px 0;
    justify-content: space-between;
  }

  .select-filtered-data {
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 14px;

    .filtering-name {
      font-size: small;
      line-height: 40px;
      margin-right: 10px;
    }
  }

  @media (max-width: $tablet) {
    height: 70%;

    .prod-selec-value {
      .select-categories {
        border: none;
        padding: 3px;

        .category-1 {
          display: none;
        }
        .category-2 {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          font-size: $font-size-xs;
          cursor: pointer;

          .el-cate2 {
            border-radius: 30px;

            &:hover {
              background-color: rgb(215, 215, 215);
            }

            .icon-nav {
              display: flex;
              flex-direction: column;

              span {
                margin: auto;
                font-size: $font-size-m;
              }
            }
          }
        }
        .sort-box {
          width: 170px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .filterBtn {
            margin-right: 5px;
          }
        }
      }
      .select-filtering-values {
        .filtering-box {
          margin-top: 17px;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    .prod-selec-value {
      .select-categories {
        border: 1px solid white;

        .category-1 {
          display: none;
        }
        .category-2 {
          .el-cate2 {
            border-radius: 30px;

            &:hover {
              background-color: rgb(215, 215, 215);
            }
            .icon-nav {
              display: flex;
              flex-direction: column;
              span {
                margin: auto;
                font-size: $font-size-m;
              }
            }
          }
        }
      }
      .select-filtering-values {
        .filtering-box {
          margin-top: 17px;
        }
      }
    }
  }
}

.best-content {
  width: 1200px;
  margin: auto;
  .prod-wrapper-best {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.icon-nav {
  .iconName {
    width: 100%;
    text-align: center;
    .iconSpan {
      font-size: small;
    }
  }
}
