$color-point: #5ff531;
$color-black: #191919;
$color-gray: #4c4c4c;

$tablet: 768px;
$mobile: 360px;

$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$white: white;
$black: black;

$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

.prod-container {
  width: 100%;

  .prod-selec-value {
    padding: 10px;

    .select-categories {
      height: 50%;
      // margin-left: 22.5px;
      font-size: 18px;
      margin: auto;
      width: 98.7%;
      display: flex;
      margin-top: 10px;
      margin-bottom: 5px;
      margin-left: 3px;
      margin-right: 14px;
      padding-left: 12px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 8px;
      border: 1px solid gray;
      border-radius: 3px;

      .category-1 {
        font-size: $font-size-s;
      }
      .category-2 {
        display: flex;
        margin-left: 30px;
        font-size: $font-size-s;
        cursor: pointer;
        .el-cate2 {
          &:hover {
            color: #5ff531;
          }
        }
      }
    }

    .select-filtering-values {
      // padding-left: 7px;
      // padding-right: 16px;
      margin-left: 3px;
      display: flex;
      justify-content: space-between;

      .filtering-box {
        // width: 80%;
        display: flex;
        flex-direction: row;
        // margin: 15px;
        // margin-top: 15px;
        margin-left: 0;
        margin-top: 14px;
      }
    }

    .select-filtered-data {
      height: 50%;
      margin-left: 20px;
      font-size: 18px;
    }
  }

  .prod-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  // flex-wrap: wrap;
  .select-filtered-data {
    // padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 14px;

    .filtering-name {
      font-size: small;
      line-height: 40px;
      margin-right: 10px;
    }
    .remove-filter {
      line-height: 40px;
    }
  }
  // .prod-container-sale {
  //   width: 1200px;
  //   margin: auto;
  // }

  // .prod-container-best {
  //   width: 1200px;
  //   margin: auto;
  // }
}

@media (max-width: $tablet) {
  .prod-container {
    width: 100%;
    height: 70%;
    .prod-selec-value {
      .select-categories {
        border: 1px solid white;

        .category-1 {
          display: none;
        }
        .category-2 {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-left: 30px;
          font-size: $font-size-xs;

          cursor: pointer;

          .el-cate2 {
            border-radius: 30px;
            // background-color: rgb(246, 246, 246);
            // overflow: hidden;

            &:hover {
              background-color: rgb(215, 215, 215);
            }
            .icon-nav {
              display: flex;
              flex-direction: column;
              span {
                margin: auto;
                font-size: $font-size-m;
              }
            }
          }
        }
      }
      .select-filtering-values {
        .filtering-box {
          margin-top: 17px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .select-filtering-values {
    .filtering-box {
      margin-top: 18px;
    }
  }
}

@media (max-width: $mobile) {
  .prod-container {
    .prod-selec-value {
      .select-categories {
        // border: 1px solid white;

        .category-1 {
          display: none;
        }
        .category-2 {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-left: 30px;
          font-size: $font-size-xs;

          cursor: pointer;

          .el-cate2 {
            border-radius: 30px;
            // background-color: rgb(246, 246, 246);
            // overflow: hidden;

            &:hover {
              background-color: rgb(215, 215, 215);
            }
            .icon-nav {
              display: flex;
              flex-direction: column;
              span {
                margin: auto;
                font-size: $font-size-m;
              }
            }
          }
        }
      }
      .select-filtering-values {
        .filtering-box {
          margin-top: 17px;
        }
      }
    }
  }
}
