$color-point: #5ff531;
$color-black: #191919;
$color-gray: #4c4c4c;

$tablet: 768px;
$mobile: 360px;

$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$white: white;
$black: black;

$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

.prod-item {
  width: 32%;
  height: calc(100% - 10px);
  margin: 3px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  @media (min-width: 600px) {
    .prod-item {
      width: 23%;
    }
  }
  //link요소 먹히는 부분 시작 ~
  .link-to-detail {
    text-decoration: none;
    color: $black;
    margin: 0;
    padding: 0;
    height: 190px;

    .prod-img {
      width: 100%;
      height: 259px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      .rank {
        position: absolute;
        top: 0;
        left: 0;
        color: #ffffff;
        background-color: rgba(46, 46, 46, 0.8);
        padding: 12px 20px;
        z-index: 1; 
      }
    }

    //prod-info부분
    .prod-info {
      margin: 0;
      padding: 10px;

      .prod-brand {
        font-size: $font-size-xs;
        height: 20px; 
        margin-bottom: 3px;
        margin-top: 2px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
      }

      .prod-name {
        font-size: $font-size-s;
        margin-bottom: 10px;
        line-height: 20px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
      }

      .prod-discount {
        font-size: 15px;
        color: rgb(113, 223, 66);
      }
      .prod-discount-sale {
        font-size: 17px;
        color: red;
        font-weight: bold;
      }

      .prod-prevPrice {
        font-size: 12px;
        text-decoration: line-through;
      }

      .prod-price {
        font-size: $font-size-m;
      }
      .prod-review-icon {
        width: 15px;
        height: 16px;
        margin-right: 5px;
      }
      .prod-commentCount {
        font-size: $font-size-xs;
      }
    }
    .snackbar-message {
      p {
        margin-bottom: 0;
      }
    }
  }

  .color-heart-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    .color-wrapper {
      display: flex;
      flex-direction: row;
      padding-top: 15px;

      @for $i from 1 through 6 {
        .color-circle:nth-child(#{$i}) {
          border-radius: 100%;
          width: 10px;
          height: 10px;
          margin: 1px;
          line-height: 50px;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .prod-item {
    width: 48%;
    .link-to-detail {
      .prod-img {
        width: 100%;
        height: 250px;
      }
    }
  }
}

@media (max-width: 950px) {
  .prod-item {
    .link-to-detail {
      .prod-img {
        width: 100%;
        height: 250px;
      }
    }
  }
}
@media (max-width: 850px) {
  .prod-item {
    .link-to-detail {
      .prod-img {
        width: 100%;
        height: 220px;
      }
    }
  }
}

@media (max-width: 768px) {
  .prod-item {
    width: 48%;
    height: calc(80% - 10px);
    margin: 3px;
    margin-bottom: 10px;

    .link-to-detail {
      .prod-img {
        width: 100%;
        height: 300px;
      }
    }
    .color-heart-box {
      padding-left: 10px;
      padding-bottom: 2px;
    }
  }

  @for $i from 1 through 6 {
    .color-circle:nth-child(#{$i}) {
      border-radius: 100%;
      width: 7px;
      height: 7px;
      margin: 1px;
    }
  }

  .prod-name {
    font-size: $font-size-xs;
    margin-bottom: 10px;
  }

  .prod-brand {
    font-size: $font-size-xxs;
    margin-bottom: 3px;
    margin-top: 2px;
  }

  .prod-discount {
    font-size: 12px;
    color: rgb(113, 223, 66);
  }

  .prod-prevPrice {
    font-size: 10px;
    text-decoration: line-through;
  }

  .prod-price {
    font-size: $font-size-s;
  }
}
@media (max-width: 665px) {
  .prod-item {
    height: 80%;
    .link-to-detail {
      .prod-img {
        height: 180px;
      }
      .prod-info {
        height: 140px;
      }
    }
  }
}
@media (max-width: 550px) {
  .link-to-detail {
    .prod-img {
      height: 180px;
    }
    .prod-info {
      height: 120px;
    }
  }
}

@media (max-width: 460px) {
  .prod-item {
    width: 48%;
    height: calc(90% - 10px);
    margin: 3px;
    margin-bottom: 10px;

    .link-to-detail {
      .prod-img {
        height: 180px;
      }
      .prod-info {
        height: 120px;
        @for $i from 1 through 6 {
          .color-circle:nth-child(#{$i}) {
            border-radius: 100%;
            width: 7px;
            height: 7px;
          }
        }

        .prod-name {
          font-size: $font-size-xxs;
          margin-bottom: 5px;
        }

        .prod-brand {
          padding-bottom: 2px;
          font-size: 10px;
          margin-bottom: 1px;
          margin-top: 1px;
        }

        .prod-discount {
          font-size: 10px;
          color: rgb(113, 223, 66);
        }

        .prod-prevPrice {
          font-size: 10px;
          text-decoration: line-through;
        }

        .prod-price {
          font-size: $font-size-xs;
        }
        .prod-review-icon {
          width: 10px;
          height: 11px;
          margin-right: 5px;
        }
        .prod-commentCount {
          font-size: 8px;
        }
      }
    }
    .color-heart-box {
      padding-left: 10px;
      align-items: center;
      padding-bottom: 2px;
      padding-top: 0;
      .color-wrapper {
        display: flex;
        flex-direction: row;
        padding-top: 9px;

        @for $i from 1 through 6 {
          .color-circle:nth-child(#{$i}) {
            border-radius: 100%;
            width: 6px;
            height: 6px;
            margin: 1px;
            line-height: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .prod-item {
    width: 48%;
    height: calc(90% - 10px);
    margin-bottom: 10px;

    .link-to-detail {
      .prod-img {
        height: 180px;
      }
      .prod-info {
        height: 110px;
        @for $i from 1 through 6 {
          .color-circle:nth-child(#{$i}) {
            border-radius: 100%;
            width: 7px;
            height: 7px;
          }
        }

        .prod-name {
          font-size: $font-size-xxs;
          margin-bottom: 5px;
        }

        .prod-brand {
          padding-bottom: 2px;
          font-size: 10px;
          margin-bottom: 1px;
          margin-top: 1px;
        }

        .prod-discount {
          font-size: 10px;
          color: rgb(113, 223, 66);
        }

        .prod-prevPrice {
          font-size: 10px;
          text-decoration: line-through;
        }

        .prod-price {
          font-size: $font-size-xs;
        }
        .prod-review-icon {
          width: 10px;
          height: 11px;
          margin-right: 5px;
        }
        .prod-commentCount {
          font-size: 8px;
        }
      }
    }
    .color-heart-box {
      padding-left: 10px;
      padding-bottom: 2px;
      padding-top: 0;
      .color-wrapper {
        display: flex;
        flex-direction: row;
        padding-top: 9px;
        align-items: center;

        @for $i from 1 through 6 {
          .color-circle:nth-child(#{$i}) {
            border-radius: 100%;
            width: 6px;
            height: 6px;
            margin: 1px;
            line-height: 60px;
          }
        }
      }
    }
  }
}

// 반응형 미디어 쿼리
@media (max-width: 370px) {
  .prod-item {
    width: 48%;
  }
}
