$tablet: 768px;
$mobile: 360px;

.hr {
  border: 0;
  height: 2px;
  background: #373737;
  margin: 5px;
  margin-right: 30px;
}

.side-nav {
  height: 100vh;
  width: 25%;
  margin-right: 50px;
  .nav-title {
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
  }

  .furniture-box,
  .electronics-box,
  .lighting-interior-box,
  .deco-plant-box {
    font-size: 14px;
    margin: 5px;
    .sub {
      margin-bottom: 5px;
      cursor: pointer;
      &:hover {
        color: gray;
      }
    }
    margin-bottom: 20px;
  }
}

.side-nav-filter {
  display: flex;
}

.nav {
  margin-bottom: 20px;
  font-weight: bold;
}

.filter-box {
  margin-top: 40px;
  width: 100%;
}
.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.remove-filter {
  font-size: small;
  line-height: 18px;
  margin-right:30px;
}
.filter-title {
  margin: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.open-box {
  font-size: small;
  line-height: 18px;
}

@media (max-width: $tablet) {
  .side-nav {
    display: none;
  }
}
