$tablet: 768px;
$mobile: 360px;

$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

.side-nav {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  margin-right: 50px;

  .nav-title {
    font-size: 20px;
    font-weight: $font-weight-bold;
    margin: 5px;
    cursor: pointer;
  }
  .nav.active {
    color: #5ff531; 
  }
  .furniture-box,
  .electronics-box,
  .lighting-interior-box,
  .deco-plant-box {
    font-size: $font-size-m;
    margin: 5px;
    margin-bottom: 17px;
    .sub {
      margin-bottom: 12px;
      cursor: pointer;
      &:hover {
        color: gray;
      }
    }
    .bold {
      font-weight: bold;
    }
  }
}

.side-nav-filter {
  display: flex;
}

.nav {
  margin-bottom: 15px;
  font-weight: bold;
}

.filter-box {
  margin-top: 80px;
  width: 100%;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .nav-filter {
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
  }
}

.remove-filter {
  font-size: small;
  line-height: 30px;
  margin-right: 30px;
  cursor: pointer;
  &:hover {
    color: gray;
  }
}

.filter-title {
  margin: 5px;
  // margin-top: 30px;
  margin-bottom: 10px;
}
.plus {
  font-size: x-large;
  line-height: 30px;
  margin-right: 32px;
}

@media (max-width: $tablet) {
  .side-nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .nav-box {
      width: 25%;
      .nav {
        display: flex;
        flex-direction: row;
        .nav-title {
          font-size: $font-size-l;
          margin: 0 auto;
        }
      }
    }
  }

  .furniture-box,
  .electronics-box,
  .lighting-interior-box,
  .deco-plant-box {
    display: none;
    width: 100%;
  }

  .filter-box {
    margin-top: 40px;
    margin-left: 10px;
  }

  .remove-filter {
    font-size: small;
    line-height: 20px;
    margin-right: 30px;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }
}

@media (max-width: 430px) {
  .side-nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .nav-box {
      width: 25%;
      .nav {
        display: flex;
        flex-direction: row;
        .nav-title {
          font-size: $font-size-m;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .side-nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .nav-box {
      width: 25%;
      .nav {
        display: flex;
        flex-direction: row;
        .nav-title {
          font-size: $font-size-s;
          margin: 0 auto;
        }
      }
    }
  }
}
