@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

// color
$hover-color: #5ff531;

// font
$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// custom
// flex-direction: colummn
@mixin column {
  display: flex;
  flex-direction: column;
}
// flex-direction: colummn,center
@mixin columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// flex-direction: row
@mixin row {
  display: flex;
  align-items: center;
}
// border
$border: 1px solid lightgray;

// Inquiry
#inquiryZone {
  @media (max-width: 480px) {
    margin-bottom: 100px;
  }
}
#inquireTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 24px;
}
#inquireSubTop {
  @include row();
}
#inquireSubTop div {
  margin: 0 8px;
}
#writingInquiry span {
  font-size: $font-size-s;
}
.inquiryTitle,
.inquiryTotal {
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  @media (max-width: 480px) {
    font-size: $font-size-m;
  }
}

.inquiryTotal {
  color: $hover-color;
}
.type {
  color: $hover-color;
}
.writingInfo {
  @include row();
}
.type {
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
}
.writingUser,
.writingDate {
  margin-left: 8px;
  font-size: $font-size-m;
}
.writingUser {
  font-weight: $font-weight-bold;
  @media (max-width: 480px) {
    font-size: $font-size-s;
  }
}
.writingDate {
  color: gray;
  font-size: $font-size-s;
  @media (max-width: 480px) {
    font-size: $font-size-xs;
  }
}
.inquiryItem {
  margin-bottom: 16px;
  margin: 20px;
}
.reviewedContent {
  margin-left: 16px;
  font-size: $font-size-m;
  @media (max-width: 480px) {
    font-size: $font-size-s;
  }
}
.answerInfo {
  display: flex;
}
.inquiryContent {
  margin-left: 8px;
  font-size: $font-size-m;
  @media (max-width: 480px) {
    font-size: $font-size-s;
  }
}
// file
.fileBtn {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px solid lightgray;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fileBtn:hover {
  border: 2px solid #5ff531;
}

.fileBtn span {
  width: 50px;
  height: 50px;
  color: #5ff531;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #aef897;
}

.selectedFile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #aef897;
  border: 1px solid #97f37b;
  margin-top: 20px;
}

.selectedFile p {
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
}

.selectedFile button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5ff531;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selectedFile button:hover {
  border: 2px solid #5ff531;
}
