@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

// color
$hover-color: #5ff531;

// font
$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// custom
// flex-direction: colummn
@mixin column {
  display: flex;
  flex-direction: column;
}
// flex-direction: colummn,center
@mixin columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// flex-direction: row
@mixin row {
  display: flex;
  align-items: center;
}
// border
$border: 1px solid lightgray;

// 캐러셀
.slidercontents1 {
  height: calc(100vh - 200px);
  background-image: url(https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/168144627162089910.jpg?gif=1&w=640&h=640&c=c&webp=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.slidercontents2 {
  height: calc(100vh - 200px);
  background-image: url(https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/images/168136011470619125.jpg?gif=1&w=640&h=640&c=c&webp=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.slidercontents3 {
  height: calc(100vh - 200px);
  background-image: url(https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/images/164440734553062054.jpg?gif=1&w=640&h=640&c=c&webp=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
