@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

// color
$hover-color: #5ff531;

// font
$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// custom
// flex-direction: colummn
@mixin column {
  display: flex;
  flex-direction: column;
}
// flex-direction: colummn,center
@mixin columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// flex-direction: row
@mixin row {
  display: flex;
  align-items: center;
}
// border
$border: 1px solid lightgray;

// 전체 페이지
* {
  font-family: 'Pretendard Variable';
  box-sizing: border-box;
}
.detailPage {
  display: flex;
  justify-content: baseline;
  max-width: 1200px;
  width: 100%;
  padding-top: 8px;
  // border: 1px solid black;
  margin: 0 auto;
}
.detailMain {
  width: 80vh;
  padding: 0;
  margin-right: 8px;
}
.detailSide {
  width: calc(1200px - (80vh + 8px));
  height: calc(100vh - 200px);
  @include column();
}

// 사이드
#selectBox {
  position: relative;
  width: calc(1200px - (90vh + 8px));
  height: calc(100vh - 200px);
}
#selectPurchase {
  @include column();
  width: calc(1200px - (90vh + 8px));
  height: calc(100vh - 200px);
  position: fixed;
  background-color: white;
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-top: 3px solid black;
  padding: 8px;
}

// 구매 상품 정보
#purchaseInfo {
  @include column();
  justify-content: space-evenly;
  height: 30vh;
}
#brandShare {
  @include row();
  justify-content: space-between;
  padding: 0 8px;
}
.productBrand {
  font-size: $font-size-m;
}
#shIcon {
  display: flex;
  justify-content: baseline;
}
.heartIcon,
.shareIcon {
  cursor: pointer;
  padding: 0 4px;
  margin: 0;
}
#heartZone {
  @include columnCenter();
}
.heartTotal {
  font-size: $font-size-xxs;
  margin: 0;
}
.productName {
  font-size: $font-size-l;
  padding: 0 8px;
  margin-top: 20px;
}

// 구매 상품 가격
#priceZone {
  padding: 0 8px;
}
#productPS {
  height: 10vh;
  @include columnCenter();
}
.sellingPrice {
  font-size: $font-size-m;
  color: gray;
  text-decoration: line-through;
}
#sale {
  display: flex;
}
.discountRate,
.discountedPrice {
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
}
.discountRate {
  color: gray;
}

// 혜택 & 배송
#savingDelivery {
  height: 20vh;
  @include column();
  justify-content: space-evenly;
  // border-top: $border;
  margin: auto 0;
}
.subtitle {
  font-size: $font-size-s;
  padding: 0 8px;
}
.delivery {
  @include columnCenter();
}
.saving,
#deliveryZone {
  @include row();
  font-size: $font-size-s;
}
#savingPoint,
.deliveryPrice {
  font-weight: $font-weight-bold;
}
.deliveryDetailInfo {
  border: $border;
  background-color: rgb(240, 239, 239);
  padding: 8px 0;
  margin-top: 4px;
  font-size: $font-size-s;
  text-align: center;
}

#selectProduct {
  height: 20vh;
  // border-top: $border;
  padding-top: 12px;
  @include column();
}
.options {
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  text-align: left;
}
#selectedPurchase {
  @include column();
  margin: 8px;
}
#optionBox {
  @include row();
  justify-content: space-between;
}
#countZone {
  @include row();
}
#countZone div {
  margin: 4px;
}
.selectedClose {
  cursor: pointer;
  color: gray;
  font-weight: $font-weight-bold;
}
.selectedClose:hover {
  color: black;
  font-weight: $font-weight-bold;
}
#purchaseZone {
  height: 5vh;
  @include row();
  justify-content: space-between;
  padding: 0 8px;
  // border-top: $border;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
}
// #selectedPurchase {
//   display: none;
// }

// 버튼
#buttons {
  width: 100%;
  height: 50px;
  @include row();
  justify-content: space-between;
  padding-bottom: 12px;
  margin-top: 12px;
}

.cartBtn {
  width: 50px;
  height: 50px;
  border: $border;
  justify-content: center;
  align-items: center;
  display: flex;
}
.purchaseBtn {
  width: calc(100% - 50px);
  height: 50px;
  border: $border;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
}

.cartBtn:hover {
  background-color: $hover-color;
}
.purchaseBtn:hover {
  background-color: $hover-color;
}

// 캐러셀
.slidercontents1 {
  height: calc(100vh - 200px);
  background-image: url(https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/168144627162089910.jpg?gif=1&w=640&h=640&c=c&webp=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.slidercontents2 {
  height: calc(100vh - 200px);
  background-image: url(https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/images/168136011470619125.jpg?gif=1&w=640&h=640&c=c&webp=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.slidercontents3 {
  height: calc(100vh - 200px);
  background-image: url(https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/images/164440734553062054.jpg?gif=1&w=640&h=640&c=c&webp=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

// StylingInfo
#stylingTop {
  @include row();
  justify-content: space-between;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  padding: 8px;
}
#stlyingSub {
  @include row();
}
#stylingTitle {
  margin-right: 8px;
}
#stylingBox {
  @include row();
  justify-content: center;
  flex-wrap: wrap;
}
.stylingItem {
  width: 290px;
  height: 290px;
  background-image: url(https://image.ohou.se/i/video-service-prd-s3-bucket-thumbnail/651ca73023d57f18887e5017/651ca73023d57f18887e5017.0000001.jpg?gif=1&w=360&webp=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include row();
  justify-content: center;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
}

// Contents
// ProductTabs
#navZone {
  position: relative;
  margin-top: 8px;
}
#detailNav {
  width: 100%;
  display: flex;
  justify-content: center;
}
#detailNav div {
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  margin: 8px;
  cursor: pointer;
}
#detailNav div:hover {
  color: $hover-color;
}
// #id {
//   display: flex;
//   justify-content: center;
// }
// nav a {
//   text-decoration: none;
//   color: black;
//   margin: 2em;
// }
// nav:first-child {
//   display: flex;
//   justify-content: center;
//   background-color: aliceblue;
//   position: relative;
// }
// #underline {
//   position: absolute;
//   width: 100%;
//   height: 5px;
//   background-color: pink;
//   top: 60px;
// }

// Review
#reviewZone {
  width: 100%;
}
#reviewTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid black;
}

#reviewBox {
  @include row();
  justify-content: space-between;
  margin: 0 8px;
}
#reviewBox div {
  // @include heading2;
  margin: 0 8px;
}
.reviewTotal {
  color: $hover-color;
}

#ratingBox {
  @include row();
  justify-content: baseline;
}
.starTotal {
  margin-right: 4px;
}
#writeReview {
  cursor: pointer;
}
.selected {
  color: $hover-color;
}

#reviewSorting {
  display: flex;
  border-top: $border;
  border-bottom: $border;
}
#reviewSorting div {
  margin: 8px;
  cursor: pointer;
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
}
#reviewName,
.reviewTotal {
  margin: 10px 0;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
}
.reviewItem {
  margin-bottom: 12px;
}
.reviewUser {
  @include row();
  margin: 8px 0;
}
.reviewUser div {
  margin: 0 5px;
}
.reviewWB {
  width: 100%;
  display: flex;
  justify-content: baseline;
}
.userPhoto {
  width: 2rem;
  height: 2rem;
  background-color: gray;
  border-radius: 1rem;
}
.writingdate {
  font-size: $font-size-s;
}
.reviewPhoto {
  width: 10vw;
  height: 10vw;
  background-image: url(https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/165519133254213206.jpeg?w=720);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include row();
  justify-content: center;
  margin-right: 8px;
  border-radius: 5px;
}
.reviewComments {
  width: calc(100% - 10vw);
  font-size: $font-size-m;
}

// ProductInfo

// Inquire
#inquireTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#inquireSubTop {
  @include row();
}
#inquireSubTop div {
  margin: 0 5px;
}
#writingInquiry span {
  font-size: $font-size-s;
}
.inquiryTitle,
.inquiryTotal {
  margin: 10px 0;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
}
.writingInfo {
  @include row();
}
.type {
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
}
.writingUser,
.writingDate {
  margin-left: 8px;
  font-size: $font-size-m;
}
.writingDate {
  color: gray;
  font-size: $font-size-s;
}
.inquiryItem {
  margin-bottom: 8px;
}
.reviewedContent {
  margin-left: 16px;
  font-size: $font-size-m;
}
// file
.fileBtn {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px solid lightgray;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fileBtn:hover {
  border: 2px solid #5ff531;
}

.fileBtn span {
  width: 50px;
  height: 50px;
  color: #5ff531;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #aef897;
}

.selectedFile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #aef897;
  border: 1px solid #97f37b;
  margin-top: 20px;
}

.selectedFile p {
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
}

.selectedFile button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5ff531;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selectedFile button:hover {
  border: 2px solid #5ff531;
}
