@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

// color
$hover-color: #5ff531;

// font
$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// custom
// flex-direction: colummn
@mixin column {
  display: flex;
  flex-direction: column;
}
// flex-direction: colummn,center
@mixin columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// flex-direction: row
@mixin row {
  display: flex;
  align-items: center;
}

// border
$border: 1px solid lightgray;

// 전체 페이지
* {
  font-family: 'Pretendard Variable';
}
.detailPage {
  display: flex;
  width: 100%;
}
.detailMain {
  width: 70%;
}
.detailSide {
  width: 30%;
  height: 100vh;
  background-color: white;
  border: $border;
  @include column();
  justify-content: space-between;
}
// 캐러셀
.slidercontents1 {
  height: 480px;
  background-image: url(https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/168144627162089910.jpg?gif=1&w=640&h=640&c=c&webp=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.slidercontents2 {
  height: 480px;
  background-image: url(https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/images/168136011470619125.jpg?gif=1&w=640&h=640&c=c&webp=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.slidercontents3 {
  height: 480px;
  background-image: url(https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/images/164440734553062054.jpg?gif=1&w=640&h=640&c=c&webp=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.wrapText {
  margin-left: 12%;
}
// SelectPurchase
#selectPurchase {
  @include column();
  width: 100%;
}

// 구매 상품 정보
#purchaseInfo {
  @include column();
  justify-content: space-evenly;
  height: 30vh;
}
#brandShare {
  @include row();
  justify-content: space-between;
  padding: 0 8px;
}
.productBrand {
  font-size: $font-size-m;
}
#shIcon {
  display: flex;
  justify-content: baseline;
}
.heartIcon,
.shareIcon {
  cursor: pointer;
  padding: 0 4px;
  margin: 0;
}
#heartZone {
  @include columnCenter();
}
.heartTotal {
  font-size: $font-size-xxs;
  margin: 0;
}
.productName {
  font-size: $font-size-l;
  padding: 0 8px;
  margin-top: 20px;
}

// 구매 상품 가격
#priceZone {
  padding: 0 8px;
}
#productPS {
  height: 10vh;
  @include columnCenter();
}
.sellingPrice {
  font-size: $font-size-m;
  color: gray;
  text-decoration: line-through;
}
#sale {
  display: flex;
}
.discountRate,
.discountedPrice {
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
}
.discountRate {
  color: gray;
}

// 혜택 & 배송
#savingDelivery {
  height: 15vh;
  @include column();
  justify-content: space-evenly;
  border-top: $border;
  margin: auto 0;
}
.subtitle {
  font-size: $font-size-s;
  padding: 0 8px;
}

.saving,
#deliveryZone {
  @include row();
  font-size: $font-size-s;
}
#savingPoint,
.deliveryPrice {
  font-weight: $font-weight-bold;
}
.deliveryDetailInfo {
  border: $border;
  background-color: rgb(240, 239, 239);
  padding: 8px 0;
  margin-top: 4px;
  font-size: $font-size-s;
  text-align: center;
}
// 구매
#selectProduct {
  height: 20vh;
  border-top: $border;
  padding-top: 12px;
  @include column();
}
#selectedPurchase,
#purchaseZone {
  @include row();
  justify-content: space-between;
  padding: 0 8px;
}
#countZone {
  @include row();
}

#selectedPurchase {
  margin: 8px;
}
#purchaseZone {
  border-top: $border;
  padding: 8px;
}
.purChaseTotal {
  font-size: $font-size-l;
}
// 버튼
#buttons {
  width: 100%;
  height: 50px;
  @include row();
  justify-content: space-between;
  padding-bottom: 12px;
  margin-top: 12px;
}

.cartBtn {
  width: 50px;
  height: 50px;
  border: $border;
  justify-content: center;
  align-items: center;
  display: flex;
}
.purchaseBtn {
  width: 75%;
  height: 50px;
  border: $border;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cartBtn:hover {
  background-color: $hover-color;
}
.purchaseBtn:hover {
  background-color: $hover-color;
}

// Contents
// ProductTabs
#navZone {
  position: relative;
}
#detailNav {
  width: 100%;
  display: flex;
  justify-content: center;
}
#detailNav div {
  margin: 8px;
  cursor: pointer;
}
// #id {
//   display: flex;
//   justify-content: center;
// }
// nav a {
//   text-decoration: none;
//   color: black;
//   margin: 2em;
// }
// nav:first-child {
//   display: flex;
//   justify-content: center;
//   background-color: aliceblue;
//   position: relative;
// }
// #underline {
//   position: absolute;
//   width: 100%;
//   height: 5px;
//   background-color: pink;
//   top: 60px;
// }

// Review
#reviewZone {
  width: 100%;
}
#reviewTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#reviewBox {
  display: flex;
  margin: 0 8px;
}
#reviewBox div {
  // @include heading2;
  margin: 0 8px;
}
.reviewTotal {
  color: $hover-color;
}

#ratingBox {
  display: flex;
}
#writeReview {
  // @include body1-bold;
  cursor: pointer;
}

#reviewSorting {
  display: flex;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
#reviewSorting div {
  margin: 8px;
  cursor: pointer;
}

.reviewItem {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.reviewItem div {
  margin: 0 5px;
}
.userPhoto {
  width: 2rem;
  height: 2rem;
  background-color: gray;
  border-radius: 1rem;
}
.reviewPhoto {
  width: 10vw;
  height: 10vw;
  background-color: gray;
  border-radius: 1rem;
}
// ProductInfo
.volini1 {
  width: 1200px;
  background-image: url('../../assets/productDetail/volini/voliniinfo1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

// Inquire
#inquireTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#inquireSubTop {
  display: flex;
  border: 1px solid black;
}
#inquireSubTop div {
  margin: 0 5px;
}

.inquiryTitle {
  margin: 10px 0;
}

// file
.fileBtn {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px solid lightgray;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fileBtn:hover {
  border: 2px solid #5ff531;
}

.fileBtn span {
  width: 50px;
  height: 50px;
  color: #5ff531;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #aef897;
}

.selectedFile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #aef897;
  border: 1px solid #97f37b;
  margin-top: 20px;
}

.selectedFile p {
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
}

.selectedFile button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5ff531;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selectedFile button:hover {
  border: 2px solid #5ff531;
}
