@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

// color
$hover-color: #5ff531;

// font
$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// custom
// flex-direction: colummn
@mixin column {
  display: flex;
  flex-direction: column;
}
// flex-direction: colummn,center
@mixin columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// flex-direction: row
@mixin row {
  display: flex;
  align-items: center;
}
// border
$border: 1px solid lightgray;

.pdInfo {
  width: 100%;
}

.pdInfo img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.delInfo {
  width: 100%;
}

.delInfo img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
