@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

// color
$hover-color: #5ff531;

// font
$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// custom
// flex-direction: colummn
@mixin column {
  display: flex;
  flex-direction: column;
}
// flex-direction: colummn,center
@mixin columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// flex-direction: row
@mixin row {
  display: flex;
  align-items: center;
}
// border
$border: 1px solid lightgray;

#productStyling {
  margin-bottom: 20px;
}
#stylingTop {
  @include row();
  justify-content: space-between;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  padding: 8px;
}
#stlyingSub {
  @include row();
}
#stylingTitle {
  margin-right: 8px;
}
#stylingBox {
  @include row();
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.stylingItem img {
  width: 300px;
  height: 300px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include row();
  justify-content: center;
  flex-wrap: wrap;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .stylingItem img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 769px) and (max-width: 897px) {
  .stylingItem img {
    width: 160px;
    height: 160px;
  }
}
@media (min-width: 690px) and (max-width: 768px) {
  .stylingItem img {
    width: 240px;
    height: 240px;
  }
}
@media (min-width: 512px) and (max-width: 689px) {
  .stylingItem img {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 465px) and (max-width: 511px) {
  .stylingItem img {
    width: 200px;
  }
}
@media (min-width: 396px) and (max-width: 464px) {
  .stylingItem img {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 395px) {
  .stylingItem img {
    width: 140px;
    height: 140px;
  }
}
