@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

// color
$hover-color: #5ff531;

// font
$font-size-xxl: 24px;
$font-size-xl: 22px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// custom
// flex-direction: colummn
@mixin column {
  display: flex;
  flex-direction: column;
}
// flex-direction: colummn,center
@mixin columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// flex-direction: row
@mixin row {
  display: flex;
  align-items: center;
}
// border
$border: 1px solid lightgray;

// Review
#reviewZone {
  width: 100%;
}
#reviewTop {
  width: 100%;
  @include row();
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 8px;
}

#reviewBox {
  width: 100%;
  @include row();
  justify-content: baseline;
  margin: 0 8px;
}
#reviewBox div {
  margin: 0 8px;
}
.reviewTotal {
  color: $hover-color;
}

#ratingBox {
  @include row();
  justify-content: baseline;
}
.starTotal {
  margin-right: 4px;
}
.selected {
  color: $hover-color;
}

#reviewSorting {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
#reviewSorting button {
  border: none;
  background: none;
  margin: 8px;
  cursor: pointer;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
}
#reviewSorting button:hover {
  color: #5ff531;
}
#reviewName,
.reviewTotal {
  margin: 10px 0;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
}

#reviewName {
  @media (max-width: 480px) {
    font-size: $font-size-m;
  }
}
.reviewTotal {
  @media (max-width: 480px) {
    font-size: $font-size-m;
  }
}
.rating {
  @media (max-width: 480px) {
    font-size: $font-size-s;
  }
}
.reviewItem {
  margin: 20px;
}
.reviewUser {
  @include row();
  margin: 8px 0;
}
.reviewUser div {
  margin: 0 5px;
}
.reviewWB {
  width: 100%;
  display: flex;
  justify-content: baseline;
}
.userPhoto {
  width: 2rem;
  height: 2rem;
  background-color: gray;
  border-radius: 1rem;
}
.writingdate {
  color: gray;
  font-size: $font-size-s;
  @media (max-width: 480px) {
    font-size: $font-size-xs;
  }
}
.reviewPhoto img {
  width: 10vw;
  height: 10vw;
  background-position: center;
  background-size: cover;
  @include row();
  justify-content: center;
  margin-right: 8px;
  border-radius: 5px;
}
.reviewComments {
  width: calc(100% - 10vw);
  font-size: $font-size-m;
}
.userName {
  font-weight: $font-weight-bold;
  @media (max-width: 480px) {
    font-size: $font-size-s;
  }
}
.rePagination {
  width: 100%;
}
.reviewComments {
  @media (max-width: 480px) {
    font-size: $font-size-s;
  }
}
#reviewSorting button {
  @media (max-width: 480px) {
    font-size: $font-size-s;
  }
}
